html, body {
	background-color: #24292E;
	color: #f2f4f7;
}

.wrapper {    
    margin-top: 80px;
    text-align: center;
}

.form-signin {
    width: 320px;
    margin: 0 auto;
    text-align: center;
}

a.register {
	color: #f2f4f7;
}

a.landing {
	color: white;
}

