extends ../layout

block content  
  .container
    .container
      .wrapper
        h2.form-signin-heading Welcome to your private page! 
  script.
    setTimeout(function () {
    window.location = '/login'
    }, 120000);

