extends ../layout

block content  
  .container
    .container
      .wrapper
        .form-signin
          h2.form-signin-heading Welcome!
          br
          br 
          button.btn.btn-lg.btn-info.btn-block
            a.landing(href='/register') Register
          br
          button.btn.btn-lg.btn-info.btn-block
            a.landing(href='/login') Login