extends ../layout

block content  
  .container
    .container
      .wrapper
        form.form-signin(action='login', method='POST', name='Login_Form')
          h2.form-signin-heading Please Sign In
          hr.colorgraph
          if nouser
            .alert.alert-danger.alert-dismissable
              a.panel-close.close(data-dismiss='alert') ×
              i.fa.fa-coffee
              |         Invalid username or password
          br
          input.form-control(type='text', name='username', placeholder='Username', required='', autofocus='')
          br
          input.form-control(type='password', name='password', placeholder='Password', required='')
          br
          button.btn.btn-lg.btn-info.btn-block(name='Submit', value='Login', type='Submit') Login
          br
          a.register(href='/register') Register