extends ../layout

block content  
  .container
    .container
      .wrapper
        form.form-signin(action='register', method='POST', name='Login_Form')
          h2.form-signin-heading Register
          hr.colorgraph
          if userexists
            .alert.alert-danger.alert-dismissable
              a.panel-close.close(data-dismiss='alert') ×
              i.fa.fa-coffee
              |         Username already exists
          br
          input.form-control(type='text', name='username', placeholder='Username', required='', autofocus='')
          br
          input.form-control(type='password', name='password', placeholder='Password', required='')
          br
          button.btn.btn-lg.btn-info.btn-block(name='Submit', value='Login', type='Submit') Register
          br
          a.register(href='/login') Login
